<div class="container mt-5">
    <h3 style="text-align: center;">Lista Rezervacija</h3>
    <table class="table table-striped table-hover">
        <thead style="background-color: #9E93E6;" class="thead-dark" >
            <tr>
                <th>ID sobe</th>
                <th>Tip sobe</th>
                <th>Korisnik</th>
                <th>Broj noci</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of (rezervacijeUnosi$ | async)">
                <td>{{room.id}}</td>
                <td>{{room.tipSobe}}</td>
                <td>{{room.korisnik}}</td>
                <td>{{room.brNoci}}</td>
                <td>
                    <button (click)="izbrisiRezervaciju(room)" class="btn btn-danger" type="button" style="background-color: #a909ff;border-color: #413782;color: aliceblue;">Izbriši</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
